html,
body {
  font-family:"Trajan Pro Regular", "EB Garamond" ,serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
}
h1{
    font-size: 3.75rem;
}
h2{
    font-size: 1.875rem;
    color:#917513;
}

h3{
    font-size: 1.125rem;
    color: #444444;
}

.quote-text{ 
    min-height: 200px;
    min-width: 200px;
    font-family: 'EB Garamond', serif;
    color: #444444;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}
header{
  width:100%;
  height: 85px; 
  background-color: white; 
  display:flex;
  justify-content: center;
  position:fixed;
  top: 0;
  
}

.logo{
    width: 130px;
    height: 85px;
    filter: drop-shadow(1px 1px 1px black);
}
.photon {
    text-align: center;
}
.photo {
    width: 300px;
    height: 200px;

}
.navbar li{
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Trajan', 'EB Garamond', serif;

}
.navbar{
    display:flex;
    background-color: lightblue;
    width: 100%;
    margin-top: 0;
    justify-content: center;
    height: 40px;
    position: fixed;
    top: 85px;
    flex-wrap: wrap;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.cool-link::after{
content: '';
display: block;
width: 0;
height: 2px;
background: #fff;
transition: width 0.3s;

}
.cool-link:hover::after{
    width: 100%;
    transition: width 0.3s;

}
.navbar label {
    display:none
}
.navbar #toggle {
    display: none;
}
.banner-container {
    height: 700px;
    max-width: 1200px;
    background-image:url("file:///C:/Users/admin/Documents/GitHub/wise/ban.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin: 40px auto;

}

.banner-text{
    width: 100%;
    margin: auto;
}
.b{
    font-size: 6.25rem;
    text-align: center;
    color: seashell;
    font-family: Trajan Bold;
}
.gallery-container{
    height: calc(100vh-20px);
    width: calc(100vw-20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    margin-bottom: 10%;


}

.gallery-item img{
    max-width: 550px;
    height: 450px;
    padding:10px 10px;
    display:block;
    border: 2px solid #917513;
    border-radius: 4px;
    cursor: pointer;
}


.initial-container{
    background-image: url("file:///C:/Users/admin/Documents/GitHub/wise/lg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.init1, .des {
color: seashell;
}
.init1{
    margin-left:5%;
}
.init2,.init3{
    margin-left:5%;
    text-align: center;
}

.p1{
    text-align: center;
}
.Quotes{
    width: 85%;
    margin:auto;
    background-color: #fff;
}
.Quotes1{
    border: 1px solid #917513;
    border-radius: 15px;
    justify-content: center;
    background-image: url('C:/Users/admin/Documents/Github/wise/auth.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Quotes2 {
    background-image: url('C:/Users/admin/Documents/Github/wise/aut.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.quote-text{
    text-align: center;
    align-items: center;
    
}
.quotes-head{
    text-align: center;
}

.brown{
    color:#917513;
    text-align: center;  
}

#whw, #abc, #freebies {

    width: 86%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.post {
    width: 60%;
    margin-bottom:7.5%;
    margin-top: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8;
    color: #444444;
  }

.Home, .Abc, .Freebies{
    text-align: center;
    color:#917513;
}

.story{
    color: #917513;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #3A3B3C;
    color:seashell;
    font-family: 'EB Garamond', serif;
    padding-bottom: 2%;

}
.social{
text-align: center;
    color:seashell;
    margin-top: 2%;
    margin-left: 3%;
}
.des {
    text-align: center;
}
.foto{
    display:flex;
  margin-top:2%;
  margin-right:3%;  
}
.fot{ 
    margin-left:2%;
}
@media only screen and (max-width: 960px) {
    .post{
      padding-top:0;
    }
   }
   @media only screen and (max-width: 700px) {
     .Quotes1.{
       border: none;
     }
     .b{
         font-size:3.75rem;
     }
   }
   @media only screen and (max-width: 470px) {
      h1 { font-size: 2rem}
     .gallery-item img, .init2 {
     display: block;
     width: 100%;
     margin: 0;
   }
   .b{
       font-size:3.50rem;
   }
   p{
       font-size:16px;
   }
   .foto{
       display:none;
   }
   .fot{
       display:none;
   }
   .navbar {
       display: none;
       text-align: center;
       width: 95%;
   }
   .navbar label {
       display: block;
       cursor:pointer;
   }
   .navbar a{
       display:block;
       border-bottom: 1px solid #eaeaeb;
       margin:0px;
   }
   #toggle:checked + .navbar {
       display: block;
   }
   .gallery-item img {
       width:300px;
       height:200px;
       display:block;
   }
}